{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comments</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <h1>Kommentare:</h1>
    <p>Hier können Sie Ihre Kommentare hinterlassen.</p>
    <div>
      <h2>Kommentar 1</h2>
      <p>Dies ist der Inhalt von Kommentar 1.</p>
    </div>
    <button class="add">+</button>
    <script>
      crftoken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
