{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comments</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <h1>Kommentare:</h1>
    <p class="comments">Hier können Sie Ihre Kommentare hinterlassen.</p>
    {% for comment in comments %}
    <div class="comments">
      <h2>Kommentar {{ forloop.counter }}: {{ comment.subject }}</h2>
      <p>{{ comment.description }}</p>
    </div>
    {% empty %}
    <p class="comments">Noch keine Kommentare vorhanden.</p>
    {% endfor %}
    <button class="add">+</button>
    <script>
      crftoken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
